body {
  height: 100%;
  margin: 10%
}

#pads {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pad {
  margin: 10px;
  width: 80px;
  height: 80px;
}

img {
  max-width: 120px;
  max-height: 100px;
  min-width: 120px;
  min-height:  100px;
}
