body {
  height: 100%;
  margin: 12%
}

#pads {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pad {
  margin: 10px;
  width: 80px;
  height: 80px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
